@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  font-family: "JetBrains Mono", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 808px) {
  body {
    cursor: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #161616;
  color: #e7e7e7;
}

::-moz-selection {
  background-color: #161616;
  color: #e7e7e7;
}
